body {
    background: #f4f4f6 !important;
}
table.dataTable thead th {
    background: #cde5d9;
}
#example_length, #example_filter {
    padding: 22px 15px;
    /* width: 200px; */
}
#example td:first-child {
    border-left: 1px solid #ebebeb;
}
#example_info, #example_paginate {
    margin: 23px 0 0;
    color: #4a4a4a;
}
#example_paginate a.paginate_button.current {
    background: #77c398 !important;
    border: none;
}
#example_paginate a.paginate_button {
    border: 1px solid #77c398;
    padding: 7px 15px;
    margin: 0 5px;
    background: #fff;
}
#example_paginate a.paginate_button:hover {
    background: #77c398;
    color: #fff;
}
a#example_previous:hover {
    color: #fff !important;
}
#example_length select {
    /* height: 30px; */
    margin: 0 5px;
    border: 2px solid #77c398;
    border-radius: 3px;
}
.dataTables_wrapper .dataTables_filter input {
    height: 30px;
} 
.category-btn ul li {
    display: inline-block;
    padding: 5px 8px;
}
.category-btn ul li label.active {
    background: #77c398;
    color: #fff;
    border: 1px solid #77c398;
}
.category-btn ul li label {
    /* background: #ececec; */
    font-size: 17px;
    padding: 9px;
    cursor: pointer;
    /* border-radius: 4px; */
    border: 1px solid #acacac;
}
.category-btn ul li input {
    display: none;
    margin: 0 10px;
}
.category-btn ul {
    text-align: center;
    margin: 45px 0 20px;
}
.category-btn ul li label:hover {
    background: #77c398;
    color: #fff;
    border: 1px solid #77c398;
}
.category-btn.sub-cat ul li {
    text-transform: capitalize;
}
.sub-cat{
	 /* display:none; */
}
a#example_next:hover {
    color: #fff !important;
}
body {
    padding: 30px;
}
.sub-cat ul li {
    display: inline-block;
    width: 49%;
    margin: 6px 0;
}
.sub-cat ul li input {
    vertical-align: bottom;
    margin: 0 10px;
    display: inline-block;
}
.sub-cat {
    background: #fff;
    width: 60%;
    padding: 8px 15px;
    position: relative;
    margin: 40px auto 0;
}
.cat-btn {
    display: inline-block;
}
.sub-cat ul {
    padding: 0;
}
.sub-cat:before {width: 0;height: 0;border-left: 25px solid transparent;border-right: 25px solid transparent;border-bottom: 25px solid #ffffff;position: absolute;top: -16px;}
div#example_wrapper {
    /* margin: 54px 0 0; */
}
.dataTables_wrapper .dataTables_filter input {
    border: none;
}
.abb h5 {
    color: #77c398;
    font-size: 30px;
    max-width: 492px;
    margin: 20px 0 0;
    position: relative;
}

.abb h5:before {
    position: absolute;
    content: "";
    width: 298px;
    height: 2px;
    background: #77c398;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
td {
    vertical-align: text-bottom;
}
.abb ul li {
    display: inline-block;
    width: 100%;
    margin: 7px 0;
    color: #4a4a4a;
}

.abb ul li strong {
    padding: 0 5px 0 0;
}

.abb ul {
    padding: 0;
    margin: 8px 0;
}
select#states {
    width: 31%;
    margin: auto 12px 0 0;
    max-width: 503px;
    border: 1px solid rgb(119, 195, 152);
    height: 40px;
    font-size: 15px;
    color: #000;
    border-radius: 0px;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 0 6px;
    background: transparent;
}
.my_toggle {
    /* display: inline-block; */
    padding: 8px 20px;
    color: #000;
    font-size: 18px !important;
    background: #77c398;
    color: fff;
    /* border-radius: 4px; */
    font-family: Georgia, Times, "Times New Roman", serif !important;
    margin-right: 10px;
}
.outr_states {
    text-align: center;
    margin: 20px 0 60px;
}
.icons-box {
    display: inline-block;
}
.my_toggle i {
    padding-right: 5px;
    font-size: 23px;
}
.sub-cat.open:before {
    left: 30%;
}
#active-tab2:before {
    left: 30%;
}
#active-tab3:before {
    right: 31%;
}
#active-tab4:before {
    right: 18px !important;
}
/******checkbx-design******/
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color:transparent;
  border:1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color:transparent
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #77c398;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0;
  top: 5px;
  right: 0;
  width: 2px;
  margin: auto;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sub-cat label {
    font-size: 17px;
    margin: 5px 0;
}
table.dataTable thead th {
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 84% 57%;
}
div#example_length {
    display: none;
}
div#example_filter input {
    border: 1px solid #77c398;
}
.sub-cat label {
    padding: 0 36px;
    font-size: 15px;
}
span.DataTables_sort_icon.css_right.ui-icon.ui-icon-triangle-1-n {
    display: none;
}
td.sorting_1:hover {
    text-decoration: underline;
    cursor: pointer;
}
.container .checkmark:after {
    left: 0;
    top: 5px;
    right: 0;
    width: 5px;
    margin: auto;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
a.more_text {
    color: #41ad70 !important;
    margin: 10px 0 3px;
    display: block;
}
.full_text p {
    position: absolute;
    display: none;
    background: #fff;
    width: 500px;
    z-index: 1;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px 0px #827a79e0;
	top:100%;
}

a.more_text {
    color: green !important;
    margin-left: 5px;
}
.full_text a.more_text span:after {
    content: "+";
}
.full_text{display:inline-block;}
.full_text.less_text p{display:block}
.full_text.less_text a span:after{content:"-"}
 table#example td{position:relative;}
 a.more_text span {
    color: green;
    width: 12px;
    text-align: center;
    display: inline-block;
}
/******res********/
@media screen and (max-width:767px){
.icons-box {
    margin: 28px 0 0;
}
select#states {
    width: 100%;
}
.category-btn ul {
    margin: 20px 0 !important;
}
.category-btn ul li {
    margin: 12px 0;
}
.sub-cat:before {
    display: none;
}
.sub-cat {
    width: 100%;
    box-sizing: border-box;
}
.sub-cat ul li {
    width: 100%;
}
#example_wrapper {
    margin: 0 !important;
    overflow-x: scroll;
}
.abb {
    margin: 28px 0 0;
}
.abb h5:before {
    display: none;
}
.abb ul li {
    font-size: 14px;
}
#example_length, #example_filter {
    padding: 15px;
    margin: 0;
}
.category-btn ul {
    padding: 0;
}
.category-btn ul li label {
    font-size: 15px;
}
.sub-cat label {
    font-size: 15px;
}
table.dataTable thead th {
    background-position: right;
}
}
@media screen and (min-width:767px) and (max-width:940px){
#example_wrapper {
    overflow-x: scroll;
    margin-bottom: 38px;
}
.sub-cat ul li {
    width: 100%;
}
}
@media screen and (min-width:767px) and (max-width:1200px){
.category-btn ul li {
    margin: 0 0 25px;
}
.sub-cat:before{
	display:none;
}
.category-btn ul li label {
    font-size: 15px;
}
.sub-cat label {
    font-size: 15px;
    margin: 5px 0;
}
table.dataTable, table.dataTable th, table.dataTable td {
    font-size: 14px;
}
}